body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
}

button:hover {
  opacity: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btn-social {
    background-color: white; 
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
    opacity: 0.9;
    border-radius: 4px;
  }
  
  .btn-google {
    background-color:white; /* Google red */
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
    opacity: 0.9;
    border-radius: 4px;
  }
  .btn-social:hover {
    opacity: 1;
  }
  
  .btn-google:hover {
    opacity: 1;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
}
.signup-link a {
  color: #4CAF50;
  text-decoration: none;
}
.signup-link a:hover {
  text-decoration: underline;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.login-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.login-text p {
  margin: 0;
}

.login-text a {
  color: #4CAF50;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

.login-text span {
  margin-left: 5px;
  font-weight: bold;
                